h1{
    color: orange;
}
.postp{
    background-color: aquamarine;
}
.postu{
    font-style: italic;
}
.postc{
    color: blueviolet;
}
    input, textarea, button {
    padding: 10px;
    width: 300px;
}