<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
</head>
<body>
    <h2>POST in Detail is Following</h2>
    <P>Post id : <%= post.id   %></P>
    <P>Username: @<%= post.username   %></P>
    <P><%= post.content   %></P>
</body>
</html>